NODE_ENV=production
APP_PORT=4000

DB_RUNTIME=auto
DB_HOST_DOCKER=pgbouncer
DB_HOST_LOCAL=127.0.0.1
DB_PORT_DOCKER=6432
DB_PORT_LOCAL=6432
DB_DATABASE=f2hfresh
DB_USERNAME=f2h_app
DB_PASSWORD_FILE=/run/secrets/app_db_password
DB_POOL_SIZE=12
DB_APPLICATION_NAME=backend-api

REDIS_HOST=redis
REDIS_PORT=6379
